div#header1 {
    position: absolute;
    height: 150px;
    width: 100%;
    top: 0px;
    left: 0px;
}

h1{
    position: relative;
    top: 90px;
    left: 30%;
    width: 35%;
    text-align: center;
    
    color: black;
}

table, th, td{
    border: 1px solid black;
}

.container2 {
    
    padding-bottom: 80px;

    width: 40%;
    background-color: White ;

    position: absolute;
    top: 170px;
    left: 30%;
    border-radius: 10px;
}

.btnUpdate{
    text-align: center;
    font-size: 16px;
}
.btnDelete{
    text-align: center;
    font-size: 16px;
    padding-left: 7px;
    padding-right: 7px;
}

input.Submit{
    border-width: 0px;
    height: 3em;
    border-radius: 10px;
    width: 9em;
    position: relative;
    top: 12em;
}